<article class="post-card {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
  <div class="article-header">
    {{#if feature_image}}
        <a class="image-link" href="{{url}}">
            <img src="{{feature_image}}" alt="">
        </a>
    {{/if}}
    <div class="text-block">
      <a class="content-link" href="{{url}}">
        <span class="date-time" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D YYYY"}}</span>
        <h1 class="f1 lh-title f1-m lh-title-m f1-l lh-title-l ">{{title}}</h1>
        <p>{{excerpt words="16"}}</p>
      </a>
    </div>
  </div>
</article>
